# Binaries / build outputs
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
coverage.*
*.coverprofile
profile.cov
release/
installer/payload/*.exe
*.tmp
*.log

# Generated build assets (recreated by tools/prepare_build_assets.py)
app/assets/PowerPilot.ico
app/assets/settings.ico
installer/assets/PowerPilot.ico
uninstaller/PowerPilot.ico
app/assets/LibreHardwareMonitor_master_net472.zip

# Python
__pycache__/
*.py[cod]

# Go
go.work
go.work.sum

# Local config / editors
.env
.vscode/
.idea/
.DS_Store
Thumbs.db
